<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
%pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.40
    Uninstalling SQLAlchemy-2.0.40:
      Successfully uninstalled SQLAlchemy-2.0.40
Successfully installed sqlalchemy-1.3.9
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%pip install ipython-sql
%pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (8.18.1)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached sqlalchemy-2.0.40-cp39-cp39-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: colorama in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Using cached sqlalchemy-2.0.40-cp39-cp39-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.40
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipython-sql in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (3.12.0)
Requirement already satisfied: ipython in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (2.0.40)
Requirement already satisfied: sqlparse in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: colorama in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\kymbo\anaconda3\envs\hr_analysis\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
%pip install -q pandas

Note: you may need to restart the kernel to use updated packages.

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [9]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [11]:
# show the column names
%sql SELECT * FROM SPACEXTABLE LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
# display the names of the unique Launch_Site
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
# display 5 records where Launch Site begins with the string 'CCA'
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 10;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)'),
 ('2014-08-05', '8:00:00', 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
# Display the total payload mass (using the PAYLOAD_MASS__KG_ column) carried by boosters launched by the Customer value = 'NASA (CRS)'
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

In [15]:
# Display the total payload mass (using the PAYLOAD_MASS__KG_ column) carried by boosters launched by each Customer name
%sql SELECT Customer, SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE GROUP BY Customer ORDER BY SUM(PAYLOAD_MASS__KG_) DESC LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('SpaceX', 185220),
 ('Iridium Communications', 67200),
 ('NASA (CRS)', 45596),
 ('SpaceX, Planet Labs', 31010),
 ('SES', 23355)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
# Display the average payload mass carried by booster version 'F9 v1.1'
%sql SELECT Booster_Version, AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1' GROUP BY Booster_Version;

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

In [17]:
# Display the average payload mass carried by every separate booster version
%sql SELECT Booster_Version, AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE GROUP BY Booster_Version ORDER BY AVG(PAYLOAD_MASS__KG_) DESC;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1060.3', 15600.0),
 ('F9 B5 B1060.2 ', 15600.0),
 ('F9 B5 B1058.3 ', 15600.0),
 ('F9 B5 B1056.4', 15600.0),
 ('F9 B5 B1051.6', 15600.0),
 ('F9 B5 B1051.4', 15600.0),
 ('F9 B5 B1051.3', 15600.0),
 ('F9 B5 B1049.7 ', 15600.0),
 ('F9 B5 B1049.5', 15600.0),
 ('F9 B5 B1049.4', 15600.0),
 ('F9 B5 B1048.5', 15600.0),
 ('F9 B5 B1048.4', 15600.0),
 ('F9 B5 B1049.6', 15440.0),
 ('F9 B5 B1059.3', 15410.0),
 ('F9 B5 B1051.5', 14932.0),
 ('F9 B5 B1049.3', 13620.0),
 ('F9 B5B1058.1 ', 12530.0),
 ('F9 B5B1061.1 ', 12500.0),
 ('F9 B5B1051.1', 12055.0),
 ('F9 B5 B1046.4', 12050.0),
 ('F9 FT B1036.1', 9600.0),
 ('F9 FT B1029.1', 9600.0),
 ('F9 FT  B1036.2', 9600.0),
 ('F9 B5B1048.1', 9600.0),
 ('F9 B5 B1049.2', 9600.0),
 ('F9 B4 B1041.1', 9600.0),
 ('F9 B4  B1041.2', 9600.0),
 ('F9 B5B1047.1', 7075.0),
 ('F9 B5B1049.1', 7060.0),
 ('F9 B5 B1056.3 ', 6956.0),
 ('F9 FT B1037', 6761.0),
 ('F9 B5 B1047.3 ', 6500.0),
 ('F9 B4  B1043.2', 6460.0),
 ('F9 B4 B1044', 6092.0),
 ('F9 FT B1034', 6070.0),
 ('F9 B5 B1046.2', 5800.0),
 ('F9 FT B1030', 5600.0),
 ('F9 B5 B1058.2 ', 5500.0),
 ('F9 B4  B1040.2', 5384.0),
 ('F9 FT B1032.1', 5300.0),
 ('F9 FT  B1021.2', 5300.0),
 ('F9 B5 B1047.2', 5300.0),
 ('F9 FT B1020', 5271.0),
 ('F9 FT  B1031.2', 5200.0),
 ('F9 B4 B1043.1', 5000.0),
 ('F9 B4 B1040.1', 4990.0),
 ('F9 B5 B1048.3', 4850.0),
 ('F9 v1.1 B1016', 4707.0),
 ('F9 FT B1022', 4696.0),
 ('F9 FT B1026', 4600.0),
 ('F9 v1.1 B1011', 4428.0),
 ('F9 B5B1054', 4400.0),
 ('F9 B5B1062.1', 4311.0),
 ('F9 B5B1060.1', 4311.0),
 ('F9 FT  B1032.2', 4230.0),
 ('F9 B5 B1051.2 ', 4200.0),
 ('F9 v1.1 B1014', 4159.0),
 ('F9 B5 B1046.3', 4000.0),
 ('F9 FT  B1029.2', 3669.0),
 ('F9 FT B1024', 3600.0),
 ('F9 B5  B1046.1', 3600.0),
 ('F9 B4 B1042.1', 3500.0),
 ('F9 B4 B1039.1', 3310.0),
 ('F9 FT B1021.1', 3136.0),
 ('F9 B5 B1059.4', 3130.0),
 ('F9 FT B1023.1', 3100.0),
 ('F9 B5 B1048.2', 3000.0),
 ('F9 B5 B1058.4 ', 2972.0),
 ('F9 v1.1', 2928.4),
 ('F9 FT B1035.1', 2708.0),
 ('F9 B4 B1045.2', 2697.0),
 ('F9 B4  B1039.2', 2647.0),
 ('F9 B5B1059.1', 2617.0),
 ('F9 B5B1050', 2500.0),
 ('F9 B5B1056.1 ', 2495.0),
 ('F9 FT B1031.1', 2490.0),
 ('F9 v1.1 B1012', 2395.0),
 ('F9 B5 B1056.2 ', 2268.0),
 ('F9 FT B1025.1', 2257.0),
 ('F9 v1.1 B1010', 2216.0),
 ('F9 FT  B1035.2', 2205.0),
 ('F9 FT  B1038.2', 2150.0),
 ('F9 FT B1019', 2034.0),
 ('F9 B5 B1059.2', 1977.0),
 ('F9 v1.1 B1018', 1952.0),
 ('F9 v1.1 B1015', 1898.0),
 ('F9 B5B1063.1', 1192.0),
 ('F9 v1.0  B0007', 677.0),
 ('F9 v1.1 B1013', 570.0),
 ('F9 v1.1 B1017', 553.0),
 ('F9 v1.0  B0005', 525.0),
 ('F9 v1.1  B1003', 500.0),
 ('F9 v1.0  B0006', 500.0),
 ('F9 FT B1038.1', 475.0),
 ('F9 B4 B1045.1', 362.0),
 ('F9 v1.0  B0004', 0.0),
 ('F9 v1.0  B0003', 0.0)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
# Display the distinct values in the Landing_Outcome column and their counts
%sql SELECT DISTINCT Landing_Outcome, COUNT(Landing_Outcome) FROM SPACEXTABLE GROUP BY Landing_Outcome ORDER BY COUNT(Landing_Outcome) DESC;

 * sqlite:///my_data1.db
Done.

[('Success', 38),
 ('No attempt', 21),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Failure (drone ship)', 5),
 ('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1),
 ('No attempt ', 1)]

In [19]:
# List the date when the first successful landing outcome in ground pad occurred
%sql SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (ground pad)' AND Landing_Outcome IS NOT NULL;

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
# List the names of the boosters which have successs in drone ship landing and have a payload mass between 4000, but less than 6000 kg
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [21]:
# List the total number of successful and failure mission outcomes
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) FROM SPACEXTABLE GROUP BY Mission_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [ ]:
# List the names of the booster versions which have carried the maximum payload mass
%sql SELECT Booster_Version, MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE GROUP BY Booster_Version ORDER BY MAX(PAYLOAD_MASS__KG_) DESC LIMIT 15;

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1060.3', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1049.7 ', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.6', 15440),
 ('F9 B5 B1059.3', 15410),
 ('F9 B5 B1051.5', 14932)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [23]:
# List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015
%sql SELECT strftime('%m', Date) AS Month, Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTABLE WHERE Landing_Outcome = 'Failure (drone ship)' AND Date LIKE '2015%' ORDER BY Month;

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [24]:
# Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order
%sql SELECT Landing_Outcome, COUNT(Landing_Outcome) AS Count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>